body{
    font-family: 'Ubuntu', sans-serif;
}
.primaryNav{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position:fixed;
    text-align:center;
    top:0px;
    right:0px;
    width:70%;
    height:5%;
    background-color:white;
}
.primaryNav a{
    text-decoration:none;
    color:black;
}
#notNav{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 2fr;
    grid-template-areas:
    "sideBar cardArea cardArea"
    "sideBar cardArea cardArea"
    "sideBar cardArea cardArea"
}
#sideBar{
    background-color:#5e6269;
    grid-area:sideBar;
    color:white;
    position:fixed;
    left:0;
    bottom:0;
    height:100%;
    width:30%;
}
#logo{
    position:fixed;
    top:0;
    left:0;
    width:42px;
    height:81px;
}
.cardArea{
    grid-area:cardArea;
    height:100%;
}
.card{
    background-color:white;
    display:flex;
    width:1075px;
    height:229px;
    padding-top:50px;
    padding-bottom:50px;
    text-align:left;
}
.cardContent{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:left;
    padding-left:20px;
}
.cardImage{
    display:inline-block;
    width:345px;
    height:229px;
}
.less{
    display:none;
}
